:root {
    --color-primary: #475B5A;
    --color-secondary: #b30033;
}

body{
    max-width: 1440px;
    min-width: 1024px;
    
}

.nombre-clase {
    color: red;
}

.articulo:hover {
    background-color: rgb(186, 183, 183);
}

.articulo--active {
    background-color: rgb(186, 183, 183);
}

.articulo {
    padding: 1rem;
    background-color: white;
}

.articulo_header-h4 {
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navBar {
    margin-bottom: 2.5rem;
    padding: 1rem;
}

.navBar_nav {
    background-color: var(--color-secondary);
    width: 28rem;
    padding: 1rem;
}

.navBar_nav-a {
    color: white;
    text-decoration: none;
}

.presentation_image-profile {
    display: block;
    margin: 0 auto;
    max-width: 250px;  /* Ajusta el tamaño máximo de la imagen */
    height: auto;      /* Mantiene las proporciones */
    border-radius: 8px; /* Opcional: para redondear las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra suave */
}

@media screen and (max-width: 424px) {
    .navBar{
        width: 424px;
        padding: 0.5rem;
    }

    .navBar_nav {
        width: 50%;
    }
    .navBar_button{
        width: 40%;
    }

}

.navBar_button {
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    border: transparent;
}

.presentation {
    padding: 1rem
}

.presentation_description {
    font-size: 2rem;
    width: 30rem;
    padding: 0.5rem;
    color: var(--color-primary);
}
.presentation_video {
    display: block; /* Asegura que el video se comporte como un bloque */
    margin: 0 auto; /* Centra el video horizontalmente */
    max-width: 100%; /* Ajusta el ancho máximo según el contenedor */
    height: auto; /* Mantiene la proporción del video */
    margin-top: 2rem; /* Añade espacio superior */
    margin-bottom: 2rem; /* Añade espacio inferior */
    border: 2px solid #09f; /* Opcional: agrega un borde decorativo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra suave */
}

.title {
    font-size: 3.5rem;
    padding: 0rem 0rem 0rem 5rem;
}